<div

  class="bg-gray-800 rounded-lg shadow-lg hover:scale-105 transform transition duration-300 "
  [ngClass]="isFavorite ? 'relative pb-3' : ''"
>
  <div (click)="navigateDetail()" class="overflow-hidden rounded-t-lg">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="Movie Poster"
      class="w-full h-auto"
    />
  </div>
  <div class="p-4 text-center">
    <h3 class="text-lg font-semibold mb-2">{{ movie.title }}</h3>
    <p class="text-sm text-gray-400 line-clamp-3">{{ movie.overview }}</p>
  </div>
  @if (isFavorite) {
  <div class="absolute bottom-0 right-1">
    <button
      mat-icon-button
      (click)="removeMovie()"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon class="text-gray-600-700">delete</mat-icon>
    </button>
  </div>
  }
</div>
